beautifulsoup4
boto3
# bert-for-tf2
cupy-cuda100
dask
dask-ml
dill
# fast-bert
frozendict
gensim
gpustat
# guesslang
ipython
iso8601
jupyter
lxml
nltk
numpy>=1.16.0
pandas
pip-tools
pyarrow>=0.16.0
pyspark
requests
s3fs
seaborn
# sentencepiece # Use Github and build/install https://github.com/google/sentencepiece
scikit-learn
# -e git+git://github.com/slundberg/shap@master#egg=shap
# snorkel==0.9.1 # Can't include until it upgrades to torch 1.2
-e git+git://github.com/snorkel-team/snorkel@master#egg=snorkel
spacy[cuda100]==2.2.2
tensorflow-gpu==2.1.0
tensorflow-hub
textblob
textdistance
texttable
torch
wandb
