beautifulsoup4
boto3
bert-for-tf2
cupy-cuda100
dill
fast-bert
frozendict
gensim
gpustat
ipython
iso8601
jupyter
lxml
nltk
numpy>=1.16.0
pandas==0.24.2
pip-tools
pyarrow==0.14.1
pyspark
requests
s3fs
seaborn
# sentencepiece # Use Github and build/install https://github.com/google/sentencepiece
scikit-learn
shap
# snorkel==0.9.1 # Can't include until it upgrades to torch 1.2
spacy
tensorflow-gpu==2.0.0
tensorflow-hub
textblob
texttable
torch==1.2.0
wandb
