beautifulsoup4
boto3
cupy-cuda100
dask
dask-ml
dill
frozendict
gensim
gpustat
# guesslang
ipython
iso8601
jupyter
lxml
mlxtend
munkres
nltk
numpy>=1.16.0
pandas
pip-tools
pyarrow>=0.16.0
pyspark
requests
s3fs
seaborn
# sentencepiece # Use Github and build/install https://github.com/google/sentencepiece
scikit-learn
shap
snorkel
spacy[cuda100]==2.2.2
textblob
textdistance
texttable
torch
wandb
